<?xml version="1.0" ?>
<model>
  <name>down_cam</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>ArduPilot SITL</name>
    <email>none</email>
  </author>
  <description>Virtual nadir camera that follows another model using a custom Gazebo plugin.</description>
</model>
