/debug_images/cur2_temp.jpg
/debug_images/cur_temp.jpg
/debug_images/debug_matches.jpg
/debug_images/ref2_temp.jpg
/debug_images/ref_temp.jpg
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/sky_anchor.iml
/Sky Anchor.zip
/.idea/vcs.xml
/logs
/opencv_contrib_python_rolling-4.12.0.86-cp37-abi3-win_amd64.whl
